<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Pantry Inventory</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= pantry.name %></h1>

  <a href="/users/<%= user._id%>/foods/<%= pantry._id %>/edit">Edit <%=pantry.name%></a>

  <form action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Ingredient</button>
  </form>

</body>
</html>